# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# OS X stuff
.DS_Store

build
bin

# Notes/tests I don't want to commit (e.g., because of copyright/IP concerns)
stuffToGitignore